//@media (max-width: 1250px) {
//  .header__map svg {
//    width: 457px;
//    height: 279px;
//  }
//  .dots-box {
//    max-width: 130px;
//    margin-right: 3px;
//  }
//  .slider-dotshead .slick-current .dots-box {
//    border-top: 4px solid $green;
//
//  }
//  .slider-dotshead {
//    right: -20px;
//  }
//  .slider-map {
//    width: 100%;
//  } 1160px
//}

@media (max-width: 1290px) {
  body {
    height: 450px;
  }
  .header__map svg {
        width: 457px;
        height: 279px;
      }
  .logo {
    a {
      img {
        max-height: 150px;
      }
    }
  }
  .menu {
    padding-top: 10px;
  }
  .menu a span {
    display: block;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 3px;
    padding-top: 4px;
    margin-bottom: 3px;
    text-transform: capitalize;
  }
  .header__date {
    font-weight: 600;
    font-size: 40px;
    line-height: 33px;
    color: $green;
  }
  .header__location {
    font-size: 11px;
    line-height: 14px;
    padding-left: 18px;
    color: $green;
  }
  .header__date span {
    padding-top: 4px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .header__search {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .header__title {
    font-weight: 600;
    font-size: 120px;
    line-height: 100px;
  }
  .header__arrows {
    left: 110px;
  }
  .slider-arrows {
    top: 25px;
  }
  .slider-arrows__left {
    right: 60px;
  }
  .slider-arrows__right {
    right: 20px;
  }

  .slider-item__info-title {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .slider-item__info-text {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 28px;
    padding-left: 94px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
  }
  .slider-dotshead {
    display: none;
  }
//  surf
  .serf, .holder {
    padding: 140px 0 100px;
  }
}

@media (max-width: 830px) {
  .logo {
    a {
      img {
        max-height: 150px;
      }
    }
  }
  .header__title {
    font-weight: 600;
    font-size: 120px;
    line-height: 100px;
  }
  .header__arrows {
    left: 110px;
  }
  .slider-item__info-link {
    margin-top: 20px;
  }
  .slider-item__info-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .slider-item__info-text {
    font-weight: 400;
    font-size: 34px;
    line-height: 33px;
    margin-bottom: 14px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 26px;
    padding-left: 92px;
  }
}

@media (max-width: 690px) {
  .header__map svg {
    width: 460px;
    height: 330px;
  }
}

@media (max-width: 560px) {
  .slider-item__info {
    right: 15px;
    bottom: 15px;
  }
  .slider-arrows {
    top: 25px;
  }
  .slider-arrows__left {
    right: 55px;
  }
  .slider-arrows__right {
    right: 15px;
  }
}

@media (max-width: 490px) {
  .header__map svg {
    width: 287px;
    height: 215px;
  }
  .logo a img {
    max-height: 100px;
  }
  .header__title {
    line-height: 95px;
  }
  .header__arrows {
    left: 81px;
    bottom: 15px;
  }
  .scale img {
        max-height: 45px;
  }
  .menu a span {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    padding-top: 1px;
    margin-bottom: 6px;
  }
  .header__search img {
    max-height: 20px;
  }
  .header__date {
    font-weight: 800;
    font-size: 37px;
    line-height: 33px;
    color: $green;
  }
  .header__location {
    font-size: 8px;
    bottom: 0;
    color: $green;
  }
  .slider-item__info {
    bottom: 15px;
  }
  .headline-left {
    font-size: 10px;
    line-height: 55px;
    padding-left: 88px;
  }
  .slider-item__info-title {
    font-weight: 600;
    font-size: 41px;
    line-height: 2px;
    margin-bottom: 13px;
  }
  .slider-item__info-text {
    font-weight: 600;
    font-size: 26px;
    line-height: 2px;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .slider-arrows__right {
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__map svg {
    display: none;
  }
  .slider-item__info {
    right: 23px;
  }
  .slider-item__info-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 7px;
  }
  .slider-item__info-text {
    font-weight: 300;
    font-size: 23px;
    line-height: 2px;
    margin-bottom: 8px;
  }
  .header__date {
    font-weight: 600;
    font-size: 35px;
    line-height: 0;
  }
  .header__date span {
    padding-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.4px;
    margin-bottom: 19px;
  }
  .header__search {
    padding-top: 3px;
    padding-bottom: 20px;
  }
  .header__location {
    font-size: 7px;
    bottom: 12px;
    color: $green;
  }
}