//@media (max-width: 1250px) {
//  .header__map svg {
//    width: 457px;
//    height: 279px;
//  }
//  .dots-box {
//    max-width: 130px;
//    margin-right: 3px;
//  }
//  .slider-dotshead .slick-current .dots-box {
//    border-top: 4px solid $green;
//
//  }
//  .slider-dotshead {
//    right: -20px;
//  }
//  .slider-map {
//    width: 100%;
//  } 1160px
//}

@media (max-width: 1365px) {
//  shop
  .shop__slider-btn {
    margin-top: -35px;
  }
}

@media (max-width: 1350px) {
//  shop
  .shop__slider-content {
    padding-left: 0;
  }
}

@media (max-width: 1290px) {
  body {
    height: 450px;
  }
  .header__map svg {
        width: 457px;
        height: 279px;
      }
  .logo {
    a {
      img {
        max-height: 150px;
      }
    }
  }
  .menu {
    padding-top: 10px;
  }
  .menu a span {
    display: block;
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 3px;
    padding-top: 4px;
    margin-bottom: 3px;
    text-transform: capitalize;
  }
  .header__date {
    font-weight: 600;
    font-size: 40px;
    line-height: 33px;
    color: $green;
  }
  .header__location {
    font-size: 11px;
    line-height: 14px;
    padding-left: 18px;
    color: $green;
  }
  .header__date span {
    padding-top: 4px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }
  .header__search {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .header__title {
    font-weight: 600;
    font-size: 120px;
    line-height: 100px;
  }
  .header__arrows {
    left: 110px;
  }
  .slider-arrows {
    top: 25px;
  }
  .slider-arrows__left {
    right: 60px;
  }
  .slider-arrows__right {
    right: 20px;
  }

  .slider-item__info-title {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .slider-item__info-text {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 28px;
    padding-left: 94px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
  }
  .slider-dotshead {
    display: none;
  }
//  surf
  .serf, .holder {
    padding: 140px 0 100px;
  }
  .title div {
    font-size: 120px;
  }
  .title h3 {
    font-size: 70px;
  }
  .serf__subtitle {
    padding-right: 30px;
    margin-top: -90px;
  }
  .subtitle__head {
    font-size: 30px;
  }
  .headline-left {
    font-size: 12px;
    line-height: 30px;
    padding-left: 90px;
  }
  .slider-dots__content-item img {
    margin: 1px 3px 0 7px;
  }
  .slider-dots__content-row {
    padding-bottom: 15px;
  }
  .slider-map .slick-current .slider-dots__content {
    padding: 14px 25px 1px 30px;
    width: 280px;
  }
  .slider-dots__circle {
    width: 15px;
    height: 15px;
  }
  .slider-dots__content::before {
    border-bottom: 18px solid $green;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -28px;
    margin-left: -2px;
  }
  .slider-map {
    margin: 0 15px 0 34px;
  }
// holder
  .holder {
    background-image: none;
  }

//  holder sleep
  .holder.sleep {
    background-image: none;
  }
//  shop
  .surfboard__position-3 .surfboard-box__content {
    padding-left: 39px;
    padding-right: 89px;
    top: -7px;
    left: -366px;
  }

  .surfboard-box__content {
    font-size: 18px;
    line-height: 1;
    padding-left: 95px;
    top: -8px;
    left: 31px;
  }
}

@media (max-width: 1200px) {
//  shop
  .surfboard-box__content {
    line-height: 1;
  }
  .surfboard__position-3 .surfboard-box__content {
    top: 0;
  }
}

@media (max-width: 1150px) {
//  holder
  .serf, .holder {
    padding: 30px 0 80px;
  }
  .holder-slider__info-title {
    font-size: 26px;
    line-height: 36px;
    padding-left: 28px;
  }
  .holder-slider__info-subtitle {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 7px;
    top: 99px;
    left: -97px;
  }
  .holder-slider__descr .descr__head {
    padding-right: 70px;
  }
  .descr__head {
    font-size: 30px;
  }
  .headline-right {
    font-size: 12px;
    line-height: 20px;
    padding-right: 85px;
  }
  .holder-slider__descr {
    padding: 132px 0px 0px 58px;
    min-height: 230px;
    margin-top: -370px;
  }
//  shop
  .btn {
    font-size: 30px;
    line-height: 24px;
  }
  .surfboard-box__content {
    font-size: 16px;
    width: 250px;
    font-weight: 300;
  }
  .surfboard__position-3 .surfboard-box__content {
    padding-left: 0;
    padding-right: 83px;
    left: -254px;
    top: -7px;
  }
  .btn span {
    padding: 17px 47px 15px 17px;
  }
}

@media (max-width: 1100px) {
//  shop
  .shop__slider-btn {
    .btn {
      font-size: 20px;
      line-height: 12px;
    }
  }
  .shop__slider-price {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .star-list > li > img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  .shop__slider {
    padding-left: 10px;
  }
}

@media (max-width: 1050px) {
//  shop

}

@media screen and (max-width: 1000px) {
  .wow{
    animation-name: none !important;
    visibility: visible !important;
  }
}

@media (max-width: 900px) {
  //  shop
  .shop__extras {
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 850px) {
  //  shop
  .shop__slider-content {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 175px;
  }
  .shop__extras {
    padding-left: 0;
    margin-top: 40px;
  }

}

@media (max-width: 840px) {
  .logo {
    a {
      img {
        max-height: 150px;
      }
    }
  }
  .header__title {
    font-weight: 600;
    font-size: 120px;
    line-height: 100px;
  }
  .header__arrows {
    left: 110px;
  }
  .slider-item__info-link {
    margin-top: 20px;
  }
  .slider-item__info-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 25px;
  }
  .slider-item__info-text {
    font-weight: 400;
    font-size: 34px;
    line-height: 33px;
    margin-bottom: 14px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 26px;
    padding-left: 92px;
  }
  //  holder
  .title div {
    font-size: 110px;
  }
  .holder-slider__subtitle {
    padding: 40px 0 0 10px;
    text-align: left;
  }
  .holder .slider-arrows {
    top: 90px;
  }
  .holder-slider__descr {
    padding: 85px 0px 37px 10px;
    min-height: 175px;
    margin-top: -380px;
  }
  .btn {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 720px) {
  //  holder
  .holder-slider__info-title {
    font-size: 16px;
    line-height: 20px;
    padding-left: 22px;
  }
  .holder-slider__info-subtitle {
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 3px;
    top: 100px;
    left: -95px;
  }
  .holder-slider__info-title .holder-pricing__span {
    font-size: 8px;
    line-height: 0;
    letter-spacing: 0.25px;
    opacity: 0.75;
    bottom: -7px;
  }
  .descr__head {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .headline-right {
    font-size: 8px;
    line-height: 10px;
    padding-right: 81px;
  }
// shop
  .surfboard > img {
    width: 127px;
    height: 405px;
    margin-top: 50px;
    margin-left: 40px;
  }
  .shop__extras {
    align-items: center;
    flex-direction: column;
  }
  .shop__slider-info {
    width: 100%;
    margin-right: 39px;
    padding-top: 5px;
  }
  .shop__slider-content {
    margin-right: 0;
  }
  .shop__slider-btn .btn {
    margin-left: 11px;
  }
  .shop__slider-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop__extras-inner {
    display: flex;
    margin-top: 100px;
  }
  .surfboard__position-1 {
    right: 25px;
    top: 161px;
  }
  .surfboard__position-2 {
    left: 32px;
    top: 221px;
  }
  .surfboard__position-3 {
    bottom: 46px;
    left: 72px;
  }
  .surfboard__position-3 .surfboard-box__content::before {
    width: 30px;
  }
  .surfboard__position-3 .surfboard-box__content {
    padding-left: 55px;
    padding-right: 15px;
    left: -256px;
    top: -3px;
  }
  .surfboard-box__content::before {
    width: 30px;
  }
  .surfboard-box__content {
    padding-left: 36px;
    top: -2px;
    left: 25px;
  }
  .surfboard-box__content {
    font-size: 12px;
    width: 250px;
    font-weight: 100;
  }
}

@media (max-width: 690px) {
  .header__map svg {
    width: 460px;
    height: 330px;
  }
  // shop
  .surfboard__position-3 {
display: none;
  }
}

@media (max-width: 650px) {
  //  surf
  .serf, .holder {
    padding: 50px 0 60px;
  }
  .title div {
    font-size: 100px;
    bottom: 15px;
  }
  .serf__subtitle {
    padding-right: 15px;
    margin-top: -32px;
  }
  .subtitle__head {
    font-size: 25px;
  }
  .headline-left {
    font-size: 12px;
    line-height: 20px;
  }
  //  holder
  .holder-slider__descr {
    padding: 25px 0px 30px 5px;
    min-height: 95px;
    margin-top: -214px;
  }
  .descr__head {
    font-size: 16px;
    letter-spacing: 2px;
  }
  .descr__head img {
      width: 100%;
      height: 37px;
      margin-right: -75px;
      top: -15px;
  }
//  holder sleep
  .holder-slider__descr .descr__head .holder__star-list {
    display: block;
    position: absolute;
    left: -16px;
    top: 16px;
  }
  .star-list li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-left: 6px;
  }
  .holder-slider__info {
    margin-top: 20px;
  }
}

@media (max-width: 560px) {
  .slider-item__info {
    right: 15px;
    bottom: 15px;
  }
  .slider-arrows {
    top: 25px;
  }
  .slider-arrows__left {
    right: 55px;
  }
  .slider-arrows__right {
    right: 15px;
  }
//  shop
  .shop__slider-info {
    margin-right: 0;
  }
}

@media (max-width: 490px) {
  .header__map svg {
    width: 287px;
    height: 215px;
  }
  .logo a img {
    max-height: 100px;
  }
  .header__title {
    line-height: 95px;
  }
  .header__arrows {
    left: 81px;
    bottom: 15px;
  }
  .scale img {
        max-height: 45px;
  }
  .menu a span {
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    padding-top: 1px;
    margin-bottom: 6px;
  }
  .header__search img {
    max-height: 20px;
  }
  .header__date {
    font-weight: 800;
    font-size: 37px;
    line-height: 33px;
    color: $green;
  }
  .header__location {
    font-size: 8px;
    bottom: 0;
    color: $green;
  }
  .slider-item__info {
    bottom: 15px;
  }
  .headline-left {
    font-size: 10px;
    line-height: 55px;
    padding-left: 88px;
  }
  .slider-item__info-title {
    font-weight: 600;
    font-size: 41px;
    line-height: 2px;
    margin-bottom: 13px;
  }
  .slider-item__info-text {
    font-weight: 600;
    font-size: 26px;
    line-height: 2px;
    margin-bottom: 10px;
  }
  //  serf-slider
  .serf-slider {
    padding-top: 90px;
  }
  //  holder
  .holder-slider__descr {
    background-image: none;
  }
  .holder-slider__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .holder-slider__info-item {
    min-height: 115px;
    margin-bottom: 0;
    width: 95%;
  }
  .holder-slider__info-title .holder-pricing__span {
    position: inherit;
    top: 14px;
    right: 59px;
  }
  .holder-slider__descr {
    padding: 25px 0px 137px 15px;
    min-height: 120px;
    display: flex;
    margin-top: -280px;
    align-items: flex-end;
  }
  .holder .slider-arrows {
    top: 150px;
  }
  //  holder sleep
  .quantity-nav {
    position: relative;
    left: 163px;
    top: -72px;
    height: 40px;
  }
}

@media (max-width: 430px) {
  //shop
  .surfboard__position-1 {
    display: none;
  }
  .shop__extras {
    margin-top: 30px;
    margin-left: 27px;
  }
  .descr {
    margin-top: 45px;
  }
}

@media (max-width: 420px) {
  //  holder
  .descr__head {
    font-size: 12px;
  }
  .descr__head img {
    display: none;
  }
  //  holder sleep
  .star-list li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-left: 6px;
  }
  .holder-slider__descr {
    padding: 3px 0 105px 15px;
    display: -ms-flexbox;
    margin-top: -210px;
  }
}

@media (max-width: 375px) {
  .slider-arrows__right {
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__map svg {
    display: none;
  }
  .slider-item__info {
    right: 23px;
  }
  .slider-item__info-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 7px;
  }
  .slider-item__info-text {
    font-weight: 300;
    font-size: 23px;
    line-height: 2px;
    margin-bottom: 8px;
  }
  .header__date {
    font-weight: 600;
    font-size: 35px;
    line-height: 0;
  }
  .header__date span {
    padding-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.4px;
    margin-bottom: 19px;
  }
  .header__search {
    padding-top: 3px;
    padding-bottom: 20px;
  }
  .header__location {
    font-size: 7px;
    bottom: 12px;
    color: $green;
  }
  //  holder
  .title h3 {
    font-size: 60px;
  }
  .title h3 {
    top: -21px;
    right: 25px;
  }
  .headline-left {
    font-size: 9px;
    line-height: 30px;
    padding-left: 90px;
  }
  .subtitle__head {
    font-size: 20px;
    margin-left: 15px;
  }
  .slider-arrows__right {
    right: 33px;
  }
  .slider-arrows__left {
    right: 73px;
  }
  //  holder sleep
  .star-list li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    margin-left: 6px;
  }
  .holder-slider__descr {
    padding: 16px 0 100px 10px;
    display: block;
    margin-top: -205px;
  }
}